@use '../../utils.scss' as *;
@use '../../global.scss' as *;

.anchor1 {
    position: absolute;
    top: 950px;
    left: 700; 
  }
.flex_col14 {
    position: absolute;
    top: 1127px;
    right: 200px;
    bottom: auto;
    left: 993px;
    display: flex;
    flex-direction: column;
    width: 407px;
    height: 493px;
  }
.medium_title {
    position: relative;
    font: 600 24px/0.7 "Raleway", Helvetica, Arial, serif;
    color: rgb(91, 97, 88);
  }
.flex_row22 {
    position: relative;
    display: flex;
    gap: 0px 22px;
    margin: 40px 0px 0px;
  }
.image37 {
    position: relative;
    width: 24px;
    min-width: 0px;
    height: 24px;
  }
.highlight4 {
    position: relative;
    margin: 1px 0px 2px;
    min-width: 0px;
    font: 400 16px/1.29 "Raleway", Helvetica, Arial, serif;
    color: rgb(63, 66, 61);
  }
.flex_row23 {
    position: relative;
    display: flex;
    gap: 0px 22px;
    margin: 16px 0px 0px;
  }
.image26 {
    position: relative;
    width: 25px;
    min-width: 0px;
    height: 25px;
  }
.highlight41 {
    position: relative;
    margin: 2px 0px;
    min-width: 0px;
    font: 400 16px/1.29 "Raleway", Helvetica, Arial, serif;
    color: rgb(63, 66, 61);
  }
.highlight13 {
    position: relative;
    margin: 48px 0px 0px;
    font: 400 16px/1.29 "Raleway", Helvetica, Arial, serif;
    color: rgb(91, 97, 88);
  }
.image351 {
    position: relative;
    margin: 39px 0px 0px;
    width: 100%;
  }
.group {
    position: absolute;
    top: 1127px;
    right: 688px;
    bottom: 4870px;
    left: 566px;
    display: flex;
    flex-direction: column;
    width: 346px;
    height: 493px;
  }
.image30 {
    position: absolute;
    bottom: -126px;
    left: -375px;
    width: 513px;
    height: 455px;
  }
.image36 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 346px;
    height: 493px;
    border-radius: 173px 173px 173px 0px;
  }
.flex_col15 {
    position: absolute;
    top: 1127px;
    right: 1110px;
    bottom: auto;
    left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 150px;
  }
.flex_row24 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px 10px;
    width: 350px;
    margin: 8px;
  }
.btn1, .btn2 {
    position: relative;
    display: flex;
    justify-content: center;
    font: 400 14px/1.25 "Raleway", Helvetica, Arial, serif;
    color: rgb(254, 251, 247); 
    text-align: center;
    background-color: rgb(120, 151, 118);
    border-radius: 25px;
    border-color: rgb(120, 151, 118);
    padding: 16px 30px; 
    width: fit-content; 
    margin-bottom: 10px; 
    border-style:solid;
    transition: 0.5s ease;
}
.btn1:hover, .btn2:hover {
    border-color: rgb(120, 151, 118);
}
.btn2 {
    border-color: rgba(210, 207, 199, 1);
    color: rgb(91, 97, 88);
    background-color: transparent;
}
.group1 {
    position: absolute;
    top: 950px;
    right: 708px;
    bottom: 5424px;
    left: 200px;
    display: flex;
    flex-direction: column;
    width: 692px;
    height: 116px;
  }
.subtitle {
    position: absolute;
    top: 12px;
    right: -463px;
    width: 362px;
    height: 52px;
    font: 400 20px/1.29 "Raleway", Helvetica, Arial, serif;
    color: rgb(63, 66, 61);
  }
.hero_title1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 692px;
    height: 116px;
    font: 400 48px/1.2 "New-YorkerC", Helvetica, Arial, serif;
    color: rgb(97, 139, 94);
    letter-spacing: 0.34px;
  }
.highlight {
    font: 400 16px/0.68 "Raleway", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    letter-spacing: 1.12px;
  }
.decorator {
    position: absolute;
    top: 0px;
    right: 52px;
    bottom: auto;
    left: 1203px;
    width: 345px;
    height: 370px;
  }

.navigation_row {
    position: absolute;
    left: 22.22%;
    right: 20.9%;
    top: 87.23%;
    bottom: 2.62%;
    width: 40%;
  }
.arrow_row{
    position: absolute;
    width: 76px;
    height: 34px;
    left: 0.22%;
    right: 20.9%;
    top: 80.23%;
    bottom: 2.62%;
  }