@use "../utils" as *;
@use "../global" as *;


.decorator9 {
  position: absolute;
  bottom: 624px;
  left: -141px;
  width: 417px;
  height: 419px;
}
.decorator8 {
  position: absolute;
  top: 4571px;
  right: -86px;
  width: 523px;
  height: 538px;
}
.flex_row {
  position: absolute;
  top: 4640px;
  right: 200px;
  bottom: auto;
  left: 200px;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 1200px;
  height: 667px;
}
.flex_col {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 47px 0px;
  width: 712px;
  min-width: 0px;
}
.hero_title6 {
  position: relative;
  width: 493px;
  font: 400 48px/1.29 "New-YorkerC", Helvetica, Arial, serif;
  color: rgb(120, 151, 118);
  letter-spacing: 0.48px;
}
.flex_col1 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.flex_row1 {
  position: relative;
  display: flex;
  gap: 0px 24px;
  margin: 20px 0px 0px;
}
.image46 {
  position: relative;
  margin: 0px 0px 69px;
  width: 28px;
  min-width: 0px;
  height: 28px;
}
.flex_col2 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 23px 0px;
  width: 601px;
  min-width: 0px;
}
.medium_title1 {
  position: relative;
  font: 600 24px/1.29 "Raleway", Helvetica, Arial, serif;
  color: rgb(91, 97, 88);
}
.highlight1 {
  position: relative;
  font: 400 16px/1.29 "Raleway", Helvetica, Arial, serif;
  color: rgb(91, 97, 88);
}
.line101 {
  position: relative;
  margin: 31px 0px 0px;
  width: 712px;
  height: 1px;
  min-height: 1px;
  background-color: rgb(203, 200, 193);
}
.flex_row2 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0px 24px;
  margin: 20px 0px 0px;
}
.image461 {
  position: relative;
  width: 28px;
  min-width: 0px;
  height: 28px;
}
.highlight5 {
  position: relative;
  min-width: 0px;
  font: 400 16px/0.68 "Raleway", Helvetica, Arial, serif;
  color: rgb(91, 97, 88);
}
.line102 {
  position: relative;
  margin: 20px 0px 0px;
  width: 712px;
  height: 1px;
  min-height: 1px;
  background-color: rgb(203, 200, 193);
}
.image75 {
  position: relative;
  margin: 172px 0px 0px;
  width: 407px;
  min-width: 0px;
  border-radius: 203.5px 203.5px 0px 0px;
}
.highlight3 {
  position: relative;
  margin: 22px 0px 22px 19.58%;
  width: 121px;
  font: 500 15px/0.73 "Raleway", Helvetica, Arial, serif;
  color: rgb(254, 251, 247);
  letter-spacing: 0.75px;
}
.flex_col3 {
  position: absolute;
  top: 3781px;
  right: 0px;
  bottom: auto;
  left: 1px;
  display: flex;
  flex-direction: column;
  width: 1599px;
  height: 731px;
}
.hero_title61 {
  position: relative;
  margin: 0px 0px 0px 12.32%;
  width: 511px;
  font: 400 48px/1.29 "New-YorkerC", Helvetica, Arial, serif;
  color: rgb(120, 151, 118);
  letter-spacing: 0.48px;
}
.decorator7 {
  position: relative;
  margin: 35px 0px 0px;
  width: 100%;
}
.image45 {
  position: relative;
  margin: 32px auto 0px;
  width: 75.05%;
}

.flex_col19 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 46px 0px;
  top: 5427px;
  left: 199px;
  width: 75%;
}
.flex_col20 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 52px 0px;
}
.hero_title7 {
  position: relative;
  font: 400 48px/1 "New-YorkerC", Helvetica, Arial, serif;
  color: rgb(120, 151, 118);
  letter-spacing: 0.48px;
}
.flex_col21 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
  margin: 34px 0px 7px;
  width: 300px;
  min-width: 0px;
}
.text4 {
  position: relative;
  font: 400 14px/0.71 "Raleway", Helvetica, Arial, serif;
  color: rgb(203, 200, 193);
}
.line16 {
  position: relative;
  width: 300px;
  height: 1px;
  min-height: 1px;
  background-color: rgb(152, 149, 139);
}
.flex_row37 {
  position: relative;
  display: flex;
  gap: 0px 8px;
  margin: 20px 0px 0px;
  width: 169px;
  min-width: 0px;
}
.image78 {
  position: relative;
  margin: 11px 0px 15px;
  width: 16px;
  min-width: 0px;
  height: 16px;
}
.desc {
  position: relative;
  width: 145px;
  min-width: 0px;
  font: 400 12px/1.16 "Raleway", Helvetica, Arial, serif;
  color: rgb(91, 97, 88);
}
.btn2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px 0px 7px;
  min-width: 285px;
  font: 500 15px/0.73 "Raleway", Helvetica, Arial, serif;
  color: rgb(254, 251, 247);
  text-align: center;
  background-color: rgb(120, 151, 118);
  border-radius: 27.5px 27.5px 27.5px 27.5px;
  padding: 22px 8px 22px 8px;
  letter-spacing: 0.75px;
}
.content_box5 {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--src) center center / 100% 100% no-repeat;
}
.image79 {
  position: absolute;
  top: 206px;
  left: 307px;
  width: 256px;
  height: 255px;
}
.content_box4 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 80px 0px 80px 6.83%;
  width: 414px;
  background-color: rgb(120, 151, 118);
}
.flex_col22 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 59px 0px 57px 14.49%;
  width: 230px;
}
.flex_row38 {
  position: relative;
  display: flex;
  gap: 0px 8px;
}
.image40 {
  position: relative;
  width: 15px;
  min-width: 0px;
  height: 15px;
}
.text5 {
  position: relative;
  margin: 2px 0px 3px;
  min-width: 0px;
  font: 400 14px/0.71 "Raleway", Helvetica, Arial, serif;
  color: rgb(254, 251, 247);
}
.flex_row39 {
  position: relative;
  display: flex;
  gap: 0px 8px;
  margin: 25px 0px 0px;
}
.image85 {
  position: relative;
  width: 14px;
  min-width: 0px;
  height: 14px;
}
.text51 {
  position: relative;
  margin: 2px 0px;
  min-width: 0px;
  font: 400 14px/0.71 "Raleway", Helvetica, Arial, serif;
  color: rgb(254, 251, 247);
}
.flex_row40 {
  position: relative;
  display: flex;
  gap: 0px 7px;
  margin: 21px 0px 0px;
}
.image81 {
  position: relative;
  margin: 73px 0px 0px;
  width: 142px;
}
.content_box3 {
  position: absolute;
  top: 6233px;
  right: 0px;
  bottom: auto;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 1600px;
  height: 257px;
  background-color: #789776;
}
.flex_row41 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 40px auto 42px;
  width: 76.88%;
}
.flex_col23 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 37px;
  width: 267px;
  min-width: 0px;
}
.info1 {
  position: relative;
  font: 500 12px/1.16 "Raleway", Helvetica, Arial, serif;
  color: rgb(254, 251, 247);
}
.info11 {
  position: relative;
  margin: 8px 0px 0px;
  font: 500 12px/1.16 "Raleway", Helvetica, Arial, serif;
  color: rgb(254, 251, 247);
}
.info12 {
  position: relative;
  margin: 8px 1px 0px;
  font: 500 12px/1.16 "Raleway", Helvetica, Arial, serif;
  color: rgb(254, 251, 247);
}
.info3 {
  position: relative;
  margin: 71px 0px 0px 1px;
  font: 400 12px/0.75 "Raleway", Helvetica, Arial, serif;
  color: rgb(254, 251, 247);
}
.flex_col24 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 74px 0px;
  width: 589px;
  min-width: 0px;
}
.flex_row42 {
  position: relative;
  display: flex;
  gap: 0px 26px;
  width: 100%;
}
.info2 {
  position: relative;
  min-width: 0px;
  font: 400 12px/1.16 "Raleway", Helvetica, Arial, serif;
  color: rgb(254, 251, 247);
}
.flex_row43 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0px 17px;
  width: 41.26%;
}
.image90 {
  position: relative;
  width: 86px;
  min-width: 0px;
  height: 87px;
}
.medium_title2 {
  position: relative;
  min-width: 0px;
  font: 300 27.057415008544922px/1.19 "Bookman Old Style", Helvetica, Arial, serif;
  color: rgb(254, 251, 247);
}
.flex_col25 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 89px 0px;
  margin: 0px 0px 37px;
  width: 182px;
  min-width: 0px;
}
.flex_row44 {
  position: relative;
  display: flex;
  gap: 0px 10px;
  width: 90.11%;
}
.image82 {
  position: relative;
  width: 40px;
  min-width: 0px;
  height: 40px;
}
.info31 {
  position: relative;
  font: 400 12px/0.75 "Raleway", Helvetica, Arial, serif;
  color: rgb(254, 251, 247);
}

.anchor5 {
  position: absolute;
  top: 5427px;
  left: 700px; 
}