.anchor3 {
    position: absolute;
    top: 2309px;
    left: 700px; 
  }
.flex_col8 {
    position: absolute;
    top: 2318px;
    right: 200px;
    bottom: auto;
    left: 993px;
    display: flex;
    flex-direction: column;
    gap: 119px 0px;
    width: 407px;
    height: 650px;
  }
.text12_box {
    position: relative;
  }

.text12 {
    font: 400 14px/1.25 "Raleway", Helvetica, Arial, serif;
    color: rgb(91, 97, 88);
  }

.image41 {
    position: relative;
    width: 100%;
  }

.flex_col9 {
    position: absolute;
    top: 2318px;
    right: 688px;
    bottom: auto;
    left: 197px;
    display: flex;
    flex-direction: column;
    width: 784px;
    height: 650px;
  }
.hero_title63 {
    position: relative;
    width: 100%;
    font: 400 48px/1.29 "New-YorkerC", Helvetica, Arial, serif;
    color: rgb(120, 151, 118);
    letter-spacing: 0.48px;
  }
.flex_col10 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 48px 0px 0px 0px;
    width: 78.74%;
  }
.flex_row6 {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
.text3 {
    position: relative;
    margin: 0px 0px 3px;
    min-width: 0px;
    font: 400 14px/0.71 "Raleway", Helvetica, Arial, serif;
    color: rgb(120, 151, 118);
  }
.text2 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 3px 0px 0px;
    width: 57px;
    min-width: 0px;
    opacity: 0.5;
    cursor: pointer;
}

.text2:hover, .text2.activeTab {
    opacity: 1;
    font-weight: bold;
}

.text21, .text22 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70px;
    height: 30px;
    font: 400 14px/0.71 "Raleway", Helvetica, Arial, serif;
    color: rgb(91, 97, 88);
    text-align: left;
    transition: 1s;
}

.text22 {
  color: rgba(120, 151, 118, 1);
  opacity: 1;
  top: -10px;
}

.flex_col11:hover .text21 {
  color: rgba(120, 151, 118, 1);
  opacity: 0.6;
  top: -10px;
}
  
.line8, .line11 {
    position: absolute;
    width: 90px;
    height: 2px;
    min-height: 2px;
    background-color: rgb(120, 151, 118);
    opacity: 1;
    transition: 1s;
  }

.line11{
  opacity: 0;
}

.flex_col11:hover .line11 {
  opacity: 0.5;
}


.flex_col11 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    margin: 0px 0px 0px 3px;
  }
.line9 {
    position: relative;
    width: 590px;
    height: 1px;
    min-height: 1px;
    background-color: rgb(203, 200, 193);
  }

.flex_row7 {
    width: 712px;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.text26 {
    flex: 1;
    font: 400 14px/1 "Raleway", Helvetica, Arial, serif;
    color: rgb(91, 97, 88);
    text-align: center;
    opacity: 1;
}
.text27 {
    flex: 1;
    font: 400 14px/1 "Raleway", Helvetica, Arial, serif;
    color: rgb(91, 97, 88);
}
.flex_row8 {
    display: flex;
    justify-content: center;
    gap: 0px 8px;
    flex: 1;
}
.image7 {
    width: 18px;
    height: 18px;
}
.line10 {
    width: 712px;
    height: 2px;
    margin-top: 21px;
    margin-bottom: 21px;
    background-color: rgb(203, 200, 193);
}
.image7:hover svg{
  fill: rgba(120, 151, 118, 1);
  transition: 0.3s;
}

.image7:hover svg path{
  stroke: rgba(120, 151, 118, 1);
  transition: 0.3s;
}
